user-details/src/main/mule/user-details.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="user-salaryFlow" doc:id="a0289e76-162b-4f87-ba27-17aed0d0e30b" >
		<http:listener doc:name="Listener" doc:id="f803857c-e739-4d2a-aca6-9322f9d210e6" config-ref="HTTP_Listener_config" path="${http.listner.path}" allowedMethods="GET"/>
		<ee:transform doc:name="Transform Message" doc:id="da547036-0e79-43f8-9c92-a0d42896631b" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="page" ><![CDATA[attributes.queryParams.page default 1]]></ee:set-variable>
				<ee:set-variable variableName="acc" ><![CDATA[{}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="GET" doc:name="Request" doc:id="2303e7f8-2df5-4eca-b5ce-dab71337689e" config-ref="HTTP_Request_Config" url="https://reqres.in/api/users">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"page" : vars.page
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="61580231-4eb7-455c-a002-890458efb317" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
			</ee:variables>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="e781d89a-8801-4208-a331-5b5f42ab7f62" collection="#[payload.data]">
			<ee:transform doc:name="Transform Message" doc:id="0376a417-6dde-4fd5-9091-66b6cb649ca8" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="salaryVar" ><![CDATA[%dw 2.0
var myInput = readUrl("classpath://salary.xlsx", "application/xlsx")
output application/json
---
myInput.amount]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<ee:transform doc:name="Transform Message" doc:id="4686cd48-4ae3-48b1-b681-50216ba90825" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload ++ {
    "salay": (vars.salaryVar filter ((item, index) -> item.id == payload.id)).salary[0] default ""
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<ee:transform doc:name="Transform Message" doc:id="c0b25e83-71c0-41c1-93c4-92dd6c8be1bc" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="acc" ><![CDATA[%dw 2.0
output application/json
---
if(sizeOf(vars.acc)== 0) [payload] else vars.acc ++ [payload]]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
		</foreach>
		<ee:transform doc:name="Transform Message" doc:id="5bf1aeac-a33f-4527-9d83-55a01581e42f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.acc]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="333bd310-d3fa-446b-8a19-ed6fedaaaf48" message="flow has been completed successfully"/>
	</flow>
</mule>
