batch-job-munit/src/main/mule/batch-job-munit.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="30fdafd4-6f7e-46fb-9597-f31159976c74" />
	<flow name="batch-job-munitFlow" doc:id="1150ddb1-f54c-43af-9519-5a0d6982ce5a" >
		<file:listener doc:id="6e82a90c-1ac8-411f-98ac-250633a3e42f" config-ref="File_Config" recursive="false" directory="C:\Users\satyamkumar01\OneDrive - Nagarro\Desktop\files\inputFiles\" timeBetweenSizeCheckUnit="DAYS" moveToDirectory="C:\Users\satyamkumar01\OneDrive - Nagarro\Desktop\files\outputFiles\" renameTo="archfile.csv" overwrite="true">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</file:listener>
		<ee:transform doc:name="Transform Message" doc:id="0724b50b-f0f0-49a4-a80b-00a450f3b460" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="050d6189-c350-486b-be7f-ac18cbb8154c" message="#[payload]"/>
		<batch:job jobName="batch-job" doc:id="81746151-28d3-4df1-a3f5-69e58dba2bbc" >
			<batch:process-records >
				<batch:step name="Batch_Step1" doc:id="7cab131b-e0af-484c-871f-c0c73a3fd540" acceptPolicy="ALL">
					<ee:transform doc:name="Transform Message" doc:id="a1f307ed-f21e-466b-85f8-57a6886ac112" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="b3b04393-01a4-402b-a9fb-b9b3aa6aee9f" streaming="true" preserveMimeTypes="true">
						<ee:transform doc:name="Transform Message" doc:id="e784759e-86eb-43b4-8617-4150c8b08a87" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
payload]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<file:write doc:name="Write" doc:id="2bedbdd3-7c3b-4b08-9bb1-b77f9c48df0b" path="C:\Users\satyamkumar01\OneDrive - Nagarro\Desktop\files\archiveFiles\output.csv" config-ref="File_Config" mode="APPEND"/>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="d9c9bd9d-95a1-49ba-9965-7738f82e685a" message="#[payload]"/>
			</batch:on-complete>
		
</batch:job>
		<ee:transform doc:name="Transform Message" doc:id="82e54dbb-35e7-4504-961f-00f0651715ad" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
